#credits {
    display: none;
    flex-direction: column;
    align-items: center;
}

#credits p {
    color: black;
}

.person-credit {
    display: flex;
    margin: 10px 20px;
    width: 100%;
}

.person-credit figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.person-credit img {
    height: 150px;
    width: 150px;
    border-radius: 10%;
    border: 1px solid;
}
.person-credit h3 {
    font-size: 24px;
}

.person-info {
    display: grid;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}
.person-info ul {
    background-color: #e4dad9;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.person-info h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.person-social {
    display: flex;
}
.person-social img{
    height: 30px;
    width: auto;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
}

.person-social button{
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    border: none;
    margin: 10px;
}
.person-social button:hover{
    background-image: linear-gradient(transparent, transparent);
}