#question h3 {
    margin: 0px;
}
#question button {
    font-size: 16px;
    margin: 10px;
    word-break: break-word;
}
#question img {
    max-height: 500px;
    max-width: 100%;
}
#question-options {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
}

#restart-button {
    background-color: #bb3939;
    color: #f5f5f5;
	margin: 20px;
}
#restart-button:hover{
    background-image: linear-gradient(#bb3939, #831e1e);
    cursor: pointer;
    transform: translateY(-5px);
}

.wrong {
    background-color: #831e1e;
}
.wrong:hover {
    background-image: linear-gradient(#831e1e, #831e1e);
}

.correct {
    background-color: #14751d;
}
.correct:hover {
    background-image: linear-gradient(#14751d, #14751d);
}