* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #455e6c;
    display: flex;
    margin: 0px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

header {
    grid-area: logo;
}

button {
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 2px 2px black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #E4DAD9;
	transition: 0.2s;
}

button:hover{
    background-image: linear-gradient(#E4DAD9, #b1a7a6);
    cursor: pointer;
    transform: translateY(-5px);
}

h1,h2,h3,figcaption {
    text-align: center;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 4px 4px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
    color: #ff9b29;
    font-size: 38px;
    margin-top: 20px;
    font-weight: bold;
}

h2,h3,figcaption {
    font-size: 32px;
    margin-top: auto;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

h3 {
    font-size: 24px;
}

figcaption {
    font-size: 20px;
    border-radius: 20px;
    padding: 5px;
}

p {
    margin: 5px 0px;
    font-weight: bold;
    font-size: 14px;
    white-space: pre-wrap;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 2px 2px black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 25px 50px;
    background-color: #2A2D34;
    margin: 20px;
    color: #ff9b29;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

#main-menu {
    display: flex;
    flex-direction: column;
}
#main-menu button {
    width: 250px;
    font-weight: bold;
    margin: 20px;
}

#game-container,#end-screen,#instructions,#options,#select-category {
    display: none;
    text-align: center;
}

#instructions p {
    text-align: justify;
    line-height: 1.5;
    width: 100%;
    margin: 10px;
}

#options input {
    width: 75%;
}
#options p {
    font-weight: bold;
    font-size: 20px;
}

.option-container{
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#select-category {
    flex-direction: column;
    align-items: center;
}

#select-category-options{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 0.5fr));
    grid-gap: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
}
#select-category-options button{
    width: inherit;
}
